.main-menu-admin-profile .line-16 {
  background: rgba(41, 134, 89, 0.5);
  margin: 65px 12px 961.5px 0;
  width: 248px;
  height: 0.5px;
}
.main-menu-admin-profile .container-33 {
  margin: 5px 10px 6px 0;
  width: 24px;
  height: 24px;
}
.main-menu-admin-profile .admin-profile-1 {
  overflow-wrap: break-word;
  font-family: 'Heebo';
  font-weight: 500;
  font-size: 24px;
  color: var(--primary-color, #298659);
}
.main-menu-admin-profile .group-14 {
  background: #FFFFFF;
  position: relative;
  margin-bottom: 11px;
  display: flex;
  flex-direction: row;
  padding: 21px 0 10px 55px;
  width: 853px;
  box-sizing: border-box;
}
.main-menu-admin-profile .admin-details {
  margin: 0 55px;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Heebo';
  font-weight: 500;
  font-size: 20px;
  color: var(--accent-color, #4F4F4F);
}
.main-menu-admin-profile .you-can-fill-or-edit-your-details {
  margin: 0 55px 5px 55px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Heebo';
  font-weight: 400;
  font-size: 14px;
  color: var(--grey, #9CA19E);
}
.main-menu-admin-profile .rectangle-116 {
  border-radius: 5px;
  background: var(--primary-color, #298659);
  margin: 0 56px 20px 55px;
  width: 742px;
  height: 5px;
}
.main-menu-admin-profile .full-name {
  margin-right: 10.5px;
  width: 423.5px;
  overflow-wrap: break-word;
  font-family: 'Heebo';
  font-weight: 400;
  font-size: 14px;
  color: var(--accent-color, #4F4F4F);
}
.main-menu-admin-profile .mobile-number {
  overflow-wrap: break-word;
  font-family: 'Heebo';
  font-weight: 400;
  font-size: 14px;
  color: var(--accent-color, #4F4F4F);
}
.main-menu-admin-profile .container-22 {
  margin: 0 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 529.8px;
  box-sizing: border-box;
}
.main-menu-admin-profile .aravind {
  overflow-wrap: break-word;
  font-family: 'Heebo';
  font-weight: 400;
  font-size: 14px;
  color: var(--grey, #9CA19E);
}
.main-menu-admin-profile .container-6 {
  border-radius: 5px;
  border: 1px solid rgba(41, 134, 89, 0.5);
  background: #FFFFFF;
  position: relative;
  padding: 7px 20px 6px 20px;
  width: 280px;
  box-sizing: border-box;
}
.main-menu-admin-profile .container-2 {
  position: relative;
  margin: 7px 0 6px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Heebo';
  font-weight: 400;
  font-size: 14px;
  color: var(--grey, #9CA19E);
}
.main-menu-admin-profile .container-40 {
  margin: 0 55px 20px 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 520.8px;
  box-sizing: border-box;
}
.main-menu-admin-profile .email-id {
  margin-right: 10.5px;
  width: 423.5px;
  overflow-wrap: break-word;
  font-family: 'Heebo';
  font-weight: 400;
  font-size: 14px;
  color: var(--accent-color, #4F4F4F);
}
.main-menu-admin-profile .password {
  overflow-wrap: break-word;
  font-family: 'Heebo';
  font-weight: 400;
  font-size: 14px;
  color: var(--accent-color, #4F4F4F);
}
.main-menu-admin-profile .container-18 {
  margin: 0 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 496px;
  box-sizing: border-box;
}
.main-menu-admin-profile .abcgmail-com {
  overflow-wrap: break-word;
  font-family: 'Heebo';
  font-weight: 400;
  font-size: 14px;
  color: var(--grey, #9CA19E);
}
.main-menu-admin-profile .container-39 {
  border-radius: 5px;
  border: 1px solid rgba(41, 134, 89, 0.5);
  background: #FFFFFF;
  position: relative;
  padding: 7px 20px 6px 20px;
  width: 280px;
  box-sizing: border-box;
}
.main-menu-admin-profile .container-3 {
  overflow-wrap: break-word;
  font-family: 'Heebo';
  font-weight: 400;
  font-size: 14px;
  color: var(--grey, #9CA19E);
}
.main-menu-admin-profile .container-42 {
  border-radius: 5px;
  border: 1px solid rgba(41, 134, 89, 0.5);
  background: #FFFFFF;
  position: relative;
  padding: 9px 20px 4px 20px;
  width: 280px;
  box-sizing: border-box;
}
.main-menu-admin-profile .container-29 {
  margin: 0 55px 40px 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 710px;
  box-sizing: border-box;
}
.main-menu-admin-profile .edit-details {
  overflow-wrap: break-word;
  font-family: 'Heebo';
  font-weight: 400;
  font-size: 16px;
  color: var(--primary-color, #298659);
}
.main-menu-admin-profile .print-button {
  border-radius: 5px;
  border: 1px solid #298659;
  background: #FFFFFF;
  position: relative;
  margin-right: 8px;
  display: flex;
  padding: 8px 16.8px 6px 15px;
  box-sizing: border-box;
}
.main-menu-admin-profile .save {
  overflow-wrap: break-word;
  font-family: 'Heebo';
  font-weight: 500;
  font-size: 16px;
  color: var(--white, #FFFFFF);
}
.main-menu-admin-profile .print-button-1 {
  border-radius: 5px;
  border: 1px solid #9CA19E;
  background: #9CA19E;
  position: relative;
  display: flex;
  padding: 8px 14.2px 6px 15px;
  box-sizing: border-box;
}
.main-menu-admin-profile .container-17 {
  margin: 0 0 31px 493px;
  display: flex;
  flex-direction: row;
  align-self: center;
  width: fit-content;
  box-sizing: border-box;
}
.main-menu-admin-profile .brand-details {
  margin: 0 55px;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Heebo';
  font-weight: 500;
  font-size: 20px;
  color: var(--accent-color, #4F4F4F);
}
.main-menu-admin-profile .you-can-fill-or-edit-your-brand-details {
  margin: 0 55px 5px 55px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Heebo';
  font-weight: 400;
  font-size: 14px;
  color: var(--grey, #9CA19E);
}
.main-menu-admin-profile .rectangle-117 {
  border-radius: 5px;
  background: var(--primary-color, #298659);
  margin: 0 56px 20px 55px;
  width: 742px;
  height: 5px;
}
.main-menu-admin-profile .brand-name {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Heebo';
  font-weight: 400;
  font-size: 16px;
  color: var(--accent-color, #4F4F4F);
}
.main-menu-admin-profile .meno-groceries {
  overflow-wrap: break-word;
  font-family: 'Heebo';
  font-weight: 400;
  font-size: 14px;
  color: var(--grey, #9CA19E);
}
.main-menu-admin-profile .container-30 {
  border-radius: 5px;
  border: 1px solid rgba(41, 134, 89, 0.5);
  background: #FFFFFF;
  position: relative;
  margin-bottom: 32px;
  padding: 7px 20px 6px 20px;
  width: fit-content;
  box-sizing: border-box;
}
.main-menu-admin-profile .add-sub-linesoptional {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Heebo';
  font-weight: 400;
  font-size: 16px;
  color: var(--accent-color, #4F4F4F);
}
.add-sub-linesoptional {
  font-family: 'Heebo';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.333;
  color: #9CA19E;
}
.main-menu-admin-profile .container-14 {
  display: flex;
  flex-direction: column;
  width: 280px;
  box-sizing: border-box;
}
.main-menu-admin-profile .logo {
  width: 71.7px;
  height: 56.4px;
}
.main-menu-admin-profile .container-13 {
  border-radius: 50px;
  background: #FFFFFF;
  position: relative;
  margin-right: 20px;
  display: flex;
  padding: 21px 13.3px 22.6px 15px;
  width: 100px;
  height: 100px;
  box-sizing: border-box;
}
.main-menu-admin-profile .upload-brand-logo {
  margin-bottom: 5px;
  display: inline-block;
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Heebo';
  font-weight: 400;
  font-size: 16px;
  color: var(--accent-color, #4F4F4F);
}
.main-menu-admin-profile .supports-with-svg-png-jpg-file-5-mb-size {
  overflow-wrap: break-word;
  font-family: 'Heebo';
  font-weight: 400;
  font-size: 14px;
  color: #9CA19E;
}
.main-menu-admin-profile .container-15 {
  margin: 14px 0 15px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.main-menu-admin-profile .container-3 {
  margin-bottom: 14px;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.main-menu-admin-profile .container-35 {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 712.5px;
  height: fit-content;
  box-sizing: border-box;
}
.main-menu-admin-profile .group-7 {
  border-radius: 1.5px;
  width: 12.7px;
  height: 12.7px;
}
.main-menu-admin-profile .edit-or-add-icon-for-logo {
  border-radius: 12.5px;
  background: #EAF3EE;
  position: absolute;
  right: 185.5px;
  bottom: 11px;
  display: flex;
  padding: 6px 6px 6.3px 6.3px;
  width: 25px;
  height: 25px;
  box-sizing: border-box;
}
.main-menu-admin-profile .container-41 {
  position: relative;
  margin: 0 55px;
  display: flex;
  align-self: flex-start;
  width: 712.5px;
  box-sizing: border-box;
}
.main-menu-admin-profile .rectangle-53 {
  border-radius: 5px;
  border: 1px solid rgba(41, 134, 89, 0.5);
  background: #FFFFFF;
  margin: 0 55px 20px 55px;
  align-self: flex-start;
  width: 280px;
  height: 34px;
}
.main-menu-admin-profile .contact-number {
  margin-right: 12px;
  width: 418px;
  overflow-wrap: break-word;
  font-family: 'Heebo';
  font-weight: 400;
  font-size: 16px;
  color: var(--accent-color, #4F4F4F);
}
.main-menu-admin-profile .gst-number {
  overflow-wrap: break-word;
  font-family: 'Heebo';
  font-weight: 400;
  font-size: 16px;
  color: var(--accent-color, #4F4F4F);
}
.main-menu-admin-profile .container-27 {
  margin: 0 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 520.6px;
  box-sizing: border-box;
}
.main-menu-admin-profile .container {
  overflow-wrap: break-word;
  font-family: 'Heebo';
  font-weight: 400;
  font-size: 14px;
  color: var(--grey, #9CA19E);
}
.main-menu-admin-profile .container-10 {
  border-radius: 5px;
  border: 1px solid rgba(41, 134, 89, 0.5);
  background: #FFFFFF;
  position: relative;
  padding: 6px 20px 7px 20px;
  width: 280px;
  box-sizing: border-box;
}
.main-menu-admin-profile .container-1 {
  overflow-wrap: break-word;
  font-family: 'Heebo';
  font-weight: 400;
  font-size: 14px;
  color: var(--grey, #9CA19E);
}
.main-menu-admin-profile .container-36 {
  border-radius: 5px;
  border: 1px solid rgba(41, 134, 89, 0.5);
  background: #FFFFFF;
  position: relative;
  padding: 7px 20px 6px 20px;
  width: 280px;
  box-sizing: border-box;
}
.main-menu-admin-profile .container-37 {
  margin: 0 55px 32px 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 710px;
  box-sizing: border-box;
}
.main-menu-admin-profile .address-details {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Heebo';
  font-weight: 400;
  font-size: 16px;
  color: var(--accent-color, #4F4F4F);
}
.main-menu-admin-profile .no-14-near-gracier-hall-nh-42-highway-road-anna-nagar-kochi-602108 {
  overflow-wrap: break-word;
  font-family: 'Heebo';
  font-weight: 400;
  font-size: 14px;
  color: var(--grey, #9CA19E);
}
.main-menu-admin-profile .container-12 {
  border-radius: 5px;
  border: 1px solid rgba(41, 134, 89, 0.5);
  background: #FFFFFF;
  position: relative;
  padding: 6px 20px 17px 20px;
  width: fit-content;
  box-sizing: border-box;
}
.main-menu-admin-profile .container-11 {
  display: flex;
  flex-direction: column;
  width: 280px;
  box-sizing: border-box;
}
.main-menu-admin-profile .additional-noteoptional {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Heebo';
  font-weight: 400;
  font-size: 16px;
  color: var(--accent-color, #4F4F4F);
}
.additional-noteoptional {
  font-family: 'Heebo';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.333;
  color: #9CA19E;
}
.main-menu-admin-profile .thank-you-for-purchasing {
  overflow-wrap: break-word;
  font-family: 'Heebo';
  font-weight: 400;
  font-size: 14px;
  color: var(--grey, #9CA19E);
}
.main-menu-admin-profile .container-31 {
  border-radius: 5px;
  border: 1px solid rgba(41, 134, 89, 0.5);
  background: #FFFFFF;
  position: relative;
  padding: 6px 20px 74px 20px;
  width: fit-content;
  box-sizing: border-box;
}
.main-menu-admin-profile .container-16 {
  margin-top: 6px;
  display: flex;
  flex-direction: column;
  width: 280px;
  box-sizing: border-box;
}
.main-menu-admin-profile .container-32 {
  margin: 0 55px 6px 55px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 710px;
  box-sizing: border-box;
}
.main-menu-admin-profile .displayed-at-bottom {
  margin: 0 0 40px 568px;
  display: inline-block;
  align-self: center;
  overflow-wrap: break-word;
  font-family: 'Heebo';
  font-weight: 400;
  font-size: 12px;
  color: #9CA19E;
}
.main-menu-admin-profile .edit-details-1 {
  overflow-wrap: break-word;
  font-family: 'Heebo';
  font-weight: 400;
  font-size: 16px;
  color: var(--primary-color, #298659);
}
.main-menu-admin-profile .print-button-2 {
  border-radius: 5px;
  border: 1px solid #298659;
  background: #FFFFFF;
  position: relative;
  margin-right: 8px;
  display: flex;
  padding: 8px 16.8px 6px 15px;
  box-sizing: border-box;
}
.main-menu-admin-profile .save-1 {
  overflow-wrap: break-word;
  font-family: 'Heebo';
  font-weight: 500;
  font-size: 16px;
  color: var(--white, #FFFFFF);
}
.main-menu-admin-profile .print-button-3 {
  border-radius: 5px;
  border: 1px solid #9CA19E;
  background: #9CA19E;
  position: relative;
  display: flex;
  padding: 8px 14.2px 6px 15px;
  box-sizing: border-box;
}
.main-menu-admin-profile .container-1 {
  margin-left: 493px;
  display: flex;
  flex-direction: row;
  align-self: center;
  width: fit-content;
  box-sizing: border-box;
}
.main-menu-admin-profile .container-7 {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.main-menu-admin-profile .rectangle-107 {
  border-radius: 5px;
  border: 1px solid rgba(41, 134, 89, 0.5);
  background: #FFFFFF;
  position: absolute;
  top: 178px;
  right: 89px;
  width: 280px;
  height: 34px;
}
.main-menu-admin-profile .admin-profile-2 {
  background: #FFFFFF;
  position: relative;
  margin-right: 66px;
  display: flex;
  padding: 0 1px 60px 1px;
  box-sizing: border-box;
}
.main-menu-admin-profile .rectangle-86 {
  border-radius: 0 10px 10px 0;
  background: linear-gradient(270deg, rgba(41, 134, 89, 0.3), rgba(62, 187, 126, 0.3));
  margin-right: 30px;
  width: 59px;
  height: 284px;
}
.main-menu-admin-profile .rectangle-105 {
  border-radius: 0 10px 10px 0;
  background: linear-gradient(270deg, rgba(41, 134, 89, 0.3), rgba(62, 187, 126, 0.3));
  margin-bottom: 30px;
  width: 59px;
  height: 193px;
}
.main-menu-admin-profile .rectangle-85 {
  border-radius: 10px;
  background: var(--primary-color, #298659);
  margin: 0 0px;
  width: 59px;
  height: 61px;
}
.main-menu-admin-profile .container-9 {
  margin-bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 59px;
  box-sizing: border-box;
}
.main-menu-admin-profile .container-28 {
  margin-bottom: 266px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: 148px;
  box-sizing: border-box;
}
.main-menu-admin-profile .container-20 {
  width: 67.2px;
  height: 82.5px;
}
.main-menu-admin-profile .layer-1 {
  background: #FFFFFF;
  margin-bottom: 10px;
  display: flex;
  align-self: center;
  padding: 0.2px 0.2px 0.2px 0.5px;
  width: 68px;
  height: 83px;
  box-sizing: border-box;
}
.main-menu-admin-profile .add-icon-items {
  border-radius: 2px;
  margin: 4px 11px 5px 0;
  width: 15px;
  height: 15px;
}
.main-menu-admin-profile .create-new-bill {
  overflow-wrap: break-word;
  font-family: 'Heebo';
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}
.main-menu-admin-profile .add-button {
  border-radius: 5px;
  background: #298659;
  position: relative;
  margin-left: 0px;
  display: flex;
  flex-direction: row;
  padding: 10px 18px 8px 0;
  width: 172px;
  box-sizing: border-box;
}
.main-menu-admin-profile .container-21 {
  margin: 0 58px 342px 0;
  display: flex;
  flex-direction: column;
  width: 172px;
  height: fit-content;
  box-sizing: border-box;
}
.main-menu-admin-profile .rectangle-98 {
  border-radius: 5px;
  background: var(--grey, #9CA19E);
  margin: 107px 0 870px 0;
  width: 8px;
  height: 50px;
}
.main-menu-admin-profile .container-38 {
  position: relative;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.main-menu-admin-profile .iconnavigationarrow-drop-down-24-px {
  width: 8px;
  height: 12px;
}
.main-menu-admin-profile .container-19 {
  border-radius: 15px;
  background: #FFFFFF;
  position: relative;
  margin: 2px 16px 3px 0;
  display: flex;
  padding: 9px 12px 9px 10px;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
}
.main-menu-admin-profile .main-menu {
  overflow-wrap: break-word;
  font-family: 'Heebo';
  font-weight: 400;
  font-size: 24px;
  color: var(--primary-color, #298659);
}
.main-menu-admin-profile .container-2 {
  margin: 0 43.7px 25px 0;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.main-menu-admin-profile .rectangle-96 {
  border-radius: 4px;
  background: var(--primary-color, #298659);
  margin-right: 12px;
  width: 4px;
  height: 43px;
}
.main-menu-admin-profile .admin-profile-icon {
  margin: 10px 20px 9px 0;
  width: 24px;
  height: 24px;
}
.main-menu-admin-profile .admin-profile {
  margin: 10px 0 9px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Heebo';
  font-weight: 400;
  font-size: 16px;
  color: var(--primary-color, #298659);
}
.main-menu-admin-profile .container-26 {
  border-radius: 5px;
  border: 1px solid #298659;
  background: #FFFFFF;
  position: relative;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  padding: 6px 0 6px 5px;
  width: 247px;
  box-sizing: border-box;
}
.main-menu-admin-profile .analysis-icon {
  margin-right: 22px;
  width: 20px;
  height: 24px;
}
.main-menu-admin-profile .sales-analysis {
  overflow-wrap: break-word;
  font-family: 'Heebo';
  font-weight: 400;
  font-size: 16px;
  color: var(--accent-color, #4F4F4F);
}
.main-menu-admin-profile .hover-effect-4 {
  border-radius: 5px;
  border: 1px solid rgba(41, 134, 89, 0.1);
  background: #FFFFFF;
  position: relative;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  padding: 16px 0 15px 23px;
  width: 247px;
  box-sizing: border-box;
}
.main-menu-admin-profile .history-icon {
  margin-right: 20px;
  width: 24px;
  height: 24px;
}
.main-menu-admin-profile .sales-history {
  overflow-wrap: break-word;
  font-family: 'Heebo';
  font-weight: 400;
  font-size: 16px;
  color: var(--accent-color, #4F4F4F);
}
.main-menu-admin-profile .hover-effect-3 {
  border-radius: 5px;
  border: 1px solid rgba(41, 134, 89, 0.1);
  background: #FFFFFF;
  position: relative;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  padding: 16px 0 15px 21px;
  width: 247px;
  box-sizing: border-box;
}
.main-menu-admin-profile .report-icon {
  margin: 0 22px 1px 0;
  width: 20px;
  height: 24px;
}
.main-menu-admin-profile .product-report {
  margin-top: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Heebo';
  font-weight: 400;
  font-size: 16px;
  color: var(--accent-color, #4F4F4F);
}
.main-menu-admin-profile .hover-effect-2 {
  border-radius: 5px;
  border: 1px solid rgba(41, 134, 89, 0.1);
  background: #FFFFFF;
  position: relative;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  padding: 15px 0 15px 23px;
  width: 247px;
  box-sizing: border-box;
}
.main-menu-admin-profile .group-5 {
  width: 24px;
  height: 24px;
}
.main-menu-admin-profile .device-icon {
  margin: 0 20px 1px 0;
  display: flex;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
}
.main-menu-admin-profile .printers-devices {
  margin-top: 1px;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Heebo';
  font-weight: 400;
  font-size: 16px;
  color: var(--accent-color, #4F4F4F);
}
.main-menu-admin-profile .hover-effect-1 {
  border-radius: 5px;
  border: 1px solid rgba(41, 134, 89, 0.1);
  background: #FFFFFF;
  position: relative;
  margin-bottom: 259px;
  display: flex;
  flex-direction: row;
  padding: 15px 0 15px 21px;
  width: 247px;
  box-sizing: border-box;
}
.main-menu-admin-profile .log-out-icon {
  margin: 0 21.1px 2px 0;
  width: 21.9px;
  height: 22px;
}
.main-menu-admin-profile .log-out {
  overflow-wrap: break-word;
  font-family: 'Heebo';
  font-weight: 400;
  font-size: 16px;
  color: var(--accent-color, #4F4F4F);
}
.main-menu-admin-profile .container-23 {
  border-radius: 5px;
  border: 1px solid rgba(41, 134, 89, 0.1);
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 16px 0 15px 22px;
  width: 247px;
  box-sizing: border-box;
}
.main-menu-admin-profile .container-5 {
  border: 0.5px solid #298659;
  background: #FFFFFF;
  position: absolute;
  left: 0px;
  top: 44px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 21px 13px 46px 13px;
  box-sizing: border-box;
}
.main-menu-admin-profile .report-an-issue {
  margin: 12px 10.5px 12px 0;
  display: inline-block;
  width: 146.5px;
  overflow-wrap: break-word;
  font-family: 'Heebo';
  font-weight: 400;
  font-size: 14px;
  color: #FFFFFF;
}
.main-menu-admin-profile .rectangle-91 {
  border-radius: 10px;
  background: #FFFFFF;
  width: 12px;
  height: 2px;
}
.main-menu-admin-profile .minimize {
  background: #298659;
  position: relative;
  display: flex;
  padding: 21px 16px 22px 17px;
  width: 45px;
  height: 45px;
  box-sizing: border-box;
}
.main-menu-admin-profile .group-12 {
  width: 13px;
  height: 13px;
}
.main-menu-admin-profile .maximize {
  background: #298659;
  position: relative;
  display: flex;
  padding: 16px;
  width: 45px;
  height: 45px;
  box-sizing: border-box;
}
.main-menu-admin-profile .rectangle-92 {
  border-radius: 10px;
  background: #FFFFFF;
  transform: rotate(45deg);
  position: absolute;
  left: 16px;
  top: 16px;
  width: 12px;
  height: 12px;
}
.main-menu-admin-profile .rectangle-93 {
  border-radius: 10px;
  background: #FFFFFF;
  transform: rotate(-45deg);
  position: relative;
  width: 12px;
  height: 12px;
}
.main-menu-admin-profile .close-window {
  background: #298659;
  position: relative;
  display: flex;
  padding: 16px 17px 17px 16px;
  width: 45px;
  height: 45px;
  box-sizing: border-box;
}
.main-menu-admin-profile .close-bar {
  background: #298659;
  position: relative;
  display: flex;
  flex-direction: row;
  width: 135px;
  box-sizing: border-box;
}
.main-menu-admin-profile .nav-bar {
  background: #298659;
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
}
.main-menu-admin-profile {
  background: #FFFFFF;
  display: flex;
  padding: 45px 9px 0 12px;
  width: 1440px;
  box-sizing: border-box;
}
