.sign-up-page-users .subtract-2 {
  position: absolute;
  top: 30px;
  right: 0px;
  width: 717px;
  height: 740px;
}
.sign-up-page-users .groot {
  margin: 8px 14.5px 8px 0;
  width: 1103.5px;
  overflow-wrap: break-word;
  font-family: 'Heebo';
  font-weight: 700;
  font-size: 20px;
  color: #FFFFFF;
}
.groot {
  font-family: 'Heebo';
  font-weight: 300;
  font-size: 20px;
  line-height: 1.333;
}
.sign-up-page-users .report-an-issue {
  margin: 12px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Heebo';
  font-weight: 400;
  font-size: 14px;
  color: #FFFFFF;
}
.sign-up-page-users .rectangle-91 {
  border-radius: 10px;
  background: #FFFFFF;
  width: 12px;
  height: 2px;
}
.sign-up-page-users .minimize {
  background: #298659;
  position: relative;
  display: flex;
  padding: 21px 16px 22px 17px;
  width: 45px;
  height: 45px;
  box-sizing: border-box;
}
.sign-up-page-users .group-12 {
  width: 13px;
  height: 13px;
}
.sign-up-page-users .maximize {
  background: #298659;
  position: relative;
  display: flex;
  padding: 16px;
  width: 45px;
  height: 45px;
  box-sizing: border-box;
}
.sign-up-page-users .rectangle-92 {
  border-radius: 10px;
  background: #FFFFFF;
  transform: rotate(45deg);
  position: absolute;
  left: 16px;
  top: 16px;
  width: 12px;
  height: 12px;
}
.sign-up-page-users .rectangle-93 {
  border-radius: 10px;
  background: #FFFFFF;
  transform: rotate(-45deg);
  position: relative;
  width: 12px;
  height: 12px;
}
.sign-up-page-users .close-window {
  background: #298659;
  position: relative;
  display: flex;
  padding: 16px 17px 17px 16px;
  width: 45px;
  height: 45px;
  box-sizing: border-box;
}
.sign-up-page-users .close-bar {
  background: #298659;
  position: relative;
  display: flex;
  flex-direction: row;
  width: 135px;
  box-sizing: border-box;
}
.sign-up-page-users .nav-bar {
  background: #298659;
  position: relative;
  margin-bottom: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 30px;
  width: 1440px;
  box-sizing: border-box;
}
.sign-up-page-users .welcome-to-groot {
  position: relative;
  overflow-wrap: break-word;
  font-family: 'Heebo';
  font-weight: 500;
  font-size: 48px;
  color: var(--primary-color, #298659);
}
.welcome-to-groot {
  font-family: 'Heebo';
  font-weight: 300;
  font-size: 48px;
  line-height: 1.333;
}
.sign-up-page-users .sign-up-to-create-new-account {
  position: absolute;
  left: 1px;
  bottom: 0px;
  overflow-wrap: break-word;
  font-family: 'Heebo';
  font-weight: 500;
  font-size: 20px;
  color: var(--primary-color, #298659);
}
.sign-up-page-users .group-10 {
  position: relative;
  margin: 0 141px 20px 141px;
  display: flex;
  align-self: flex-start;
  padding-bottom: 23px;
  box-sizing: border-box;
}
.sign-up-page-users .sign-up {
  margin-right: 23.5px;
  width: 208.5px;
  overflow-wrap: break-word;
  font-family: 'Heebo';
  font-weight: 500;
  font-size: 32px;
  color: var(--accent-color, #4F4F4F);
}
.sign-up-page-users .already-have-an-account-log-in {
  margin-right: 5.9px;
  overflow-wrap: break-word;
  font-family: 'Heebo';
  font-weight: 400;
  font-size: 16px;
  color: var(--accent-color, #4F4F4F);
}
.already-have-an-account-log-in {
  font-family: 'Heebo';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.333;
  color: var(--primary-color, #298659);
}
.sign-up-page-users .arrow-1 {
  background: #298659;
  margin: 13px 0 9.5px 0;
  width: 15px;
  height: 1.5px;
}
.sign-up-page-users .container-10 {
  margin: 19px 0 4px 0;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.sign-up-page-users .container-9 {
  margin: 0 141px 15px 141px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 482px;
  box-sizing: border-box;
}
.sign-up-page-users .email-id {
  margin: 5px 12px 5px 0;
  display: inline-block;
  width: 199px;
  overflow-wrap: break-word;
  font-family: 'Heebo';
  font-weight: 400;
  font-size: 16px;
  color: var(--accent-color, #4F4F4F);
}
.sign-up-page-users .enter-email-id {
  overflow-wrap: break-word;
  font-family: 'Heebo';
  font-weight: 400;
  font-size: 14px;
  color: var(--grey, #9CA19E);
}
.sign-up-page-users .container-5 {
  border-radius: 5px;
  border: 1px solid rgba(41, 134, 89, 0.5);
  background: #FFFFFF;
  position: relative;
  padding: 7px 20px 6px 20px;
  width: 280px;
  box-sizing: border-box;
}
.sign-up-page-users .container-1 {
  margin: 0 142px 20px 142px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 491px;
  box-sizing: border-box;
}
.sign-up-page-users .mobile-number {
  margin: 5px 12px 5px 0;
  display: inline-block;
  width: 199px;
  overflow-wrap: break-word;
  font-family: 'Heebo';
  font-weight: 400;
  font-size: 16px;
  color: var(--accent-color, #4F4F4F);
}
.sign-up-page-users .enter-mobile-number {
  overflow-wrap: break-word;
  font-family: 'Heebo';
  font-weight: 400;
  font-size: 14px;
  color: var(--grey, #9CA19E);
}
.sign-up-page-users .container-8 {
  border-radius: 5px;
  border: 1px solid rgba(41, 134, 89, 0.5);
  background: #FFFFFF;
  position: relative;
  padding: 7px 20px 6px 20px;
  width: 280px;
  box-sizing: border-box;
}
.sign-up-page-users .container-3 {
  margin: 0 142px 20px 142px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 491px;
  box-sizing: border-box;
}
.sign-up-page-users .new-password {
  margin: 5px 12px 5px 0;
  display: inline-block;
  width: 199px;
  overflow-wrap: break-word;
  font-family: 'Heebo';
  font-weight: 400;
  font-size: 16px;
  color: var(--accent-color, #4F4F4F);
}
.sign-up-page-users .enter-new-password {
  overflow-wrap: break-word;
  font-family: 'Heebo';
  font-weight: 400;
  font-size: 14px;
  color: var(--grey, #9CA19E);
}
.sign-up-page-users .container {
  border-radius: 5px;
  border: 1px solid rgba(41, 134, 89, 0.5);
  background: #FFFFFF;
  position: relative;
  padding: 7px 20px 6px 20px;
  width: 280px;
  box-sizing: border-box;
}
.sign-up-page-users .container-6 {
  margin: 0 142px 20px 142px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 491px;
  box-sizing: border-box;
}
.sign-up-page-users .verification-codes-will-be-sent-to-your-respective-email-and-mobile {
  margin-right: 18px;
  width: 341px;
  overflow-wrap: break-word;
  font-family: 'Heebo';
  font-weight: 400;
  font-size: 12px;
  color: var(--grey, #9CA19E);
}
.sign-up-page-users .verify {
  overflow-wrap: break-word;
  font-family: 'Heebo';
  font-weight: 500;
  font-size: 14px;
  color: #FFFFFF;
}
.sign-up-page-users .add-button {
  border-radius: 5px;
  background: #298659;
  position: relative;
  margin: 2px 0;
  display: flex;
  padding: 6px 1px 5px 0;
  width: 132px;
  height: fit-content;
  box-sizing: border-box;
}
.sign-up-page-users .container-7 {
  margin: 0 142px 30px 142px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-start;
  width: 491px;
  box-sizing: border-box;
}
.sign-up-page-users .line-14 {
  background: #EEEEEE;
  margin: 13px 0 10px 0;
  width: 175px;
  height: 1px;
}
.sign-up-page-users .or {
  overflow-wrap: break-word;
  font-family: 'Heebo';
  font-weight: 400;
  font-size: 16px;
  color: var(--grey, #9CA19E);
}
.sign-up-page-users .line-15 {
  background: #EEEEEE;
  margin: 13px 0 10px 0;
  width: 175px;
  height: 1px;
}
.sign-up-page-users .container-2 {
  margin: 0 656px 30px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  width: 482px;
  box-sizing: border-box;
}
.sign-up-page-users .ellipse-10 {
  border-radius: 21px;
  background: url('../assets/images/ellipse_10.png');
  margin-right: 10px;
  width: 42px;
  height: 42px;
}
.sign-up-page-users .sign-up-with-google-account {
  margin: 11px 0 10px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Heebo';
  font-weight: 400;
  font-size: 14px;
  color: var(--accent-color, #4F4F4F);
}
.sign-up-page-users .glogin {
  border-radius: 5px;
  border: 1px solid rgba(41, 134, 89, 0.5);
  background: #FFFFFF;
  position: relative;
  margin-right: 660px;
  display: flex;
  flex-direction: row;
  align-self: center;
  padding: 3px 0 3px 16px;
  width: 280px;
  box-sizing: border-box;
}
.sign-up-page-users .container-4 {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.sign-up-page-users .subtract {
  position: absolute;
  left: 122px;
  top: 122px;
  width: 84px;
  height: 54px;
}
.sign-up-page-users {
  background: #FFFFFF;
  display: flex;
  width: 1440px;
  box-sizing: border-box;
}
